body{
    background-color: #000000 !important;
}
a{
    text-decoration: none;
    color: white !important;
}
.icon-item{
        color: white;
    }
.active{
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FA0E8F !important;
    }
.container-profile-pinck{
    height: 600px;
    width: 26%;
    background: #000000;
    border: 5px solid #FA0E8F;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgba(250, 14, 143, 0.7);
    border-radius: 20px;
    position: relative;
    margin-bottom: 70px;
}
.container-profile-blue{
    position: absolute;
    height: 600px;
    width: 22%;
    background: #000000;
    border: 5px solid #11C5FF;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgba(17, 197, 255, 0.7);
    border-radius: 20px;
    margin-top: 20px;
    margin-left: -20px;


}
.container-profile{
    display: flex;
}
.icon-item{
    color: white;
}
.active{
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FA0E8F;
}
.container_chat{
    width: 800px;
    height: 652px;
    background: #000000;
    border: 5px solid #FA0E8F;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgba(250, 14, 143, 0.7);
    border-radius: 20px;
    margin-left: 70px;
}
.chat_button_area{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.chat-button{
    width: 209px;
    height: 37px;
    background: #000000;
    border: 1px solid #11C5FF;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgba(17, 197, 255, 0.5);
    border-radius: 20px;
    color:#11C5FF ;
}
.chat-button:hover{
    background-color: white;
}
.chat-title{
    margin-top: 40px;
    margin-left: 20px;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    text-align: left;
    color: #11C5FF;
    text-shadow: 0px 0px 30px #11C5FF;
}
.chat-wite{
    color: white;
    margin-left: 20px;
    font-size: 13px;

}
.admin_cont{
    width: 689px;
    height: 91px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 50px;
    display: flex;

}
.container-admin{
    padding: 10px;
}
.img_chat{
    margin-top: 10px;
    margin-left: 20px;
}
.chat-pink{

    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    color: #FA0E8F;
}
.chat-witee{

    font-family: Comfortaa;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    color: #FFFFFF;
}
.txt-area{
    margin-left: 20px;
}
.area_txt{
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 35%;

}
.div1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 600px;
    padding: 40px;
    background: transparent;
    border: 5px solid #11C5FF;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgba(17, 197, 255, 0.7);
    border-radius: 20px;
}
.icon-item{
    color: #11C5FF;
    text-shadow: 0px 0px 30px #11C5FF;
    padding: 10px;
}
.icon-item i {
    font-size: 22px;
    margin-right: 20px;
}
.a_profil, .a_chat, .a_balanc, .a_comm, .a_otzivi {
    color: white !important;
}
.a_profil:hover, .a_chat:hover, .a_balanc:hover, .a_comm:hover, .a_otzivi:hover {
    color: #FA0E8F  !important;
}
.a_chat{
    color: #FA0E8F  !important;

}
main{
    margin-bottom: 100px;
}