.section8label {
	text-align: center;
	cursor: pointer;
}
input[type="checkbox"] {
	display: none;
}
.section8label::before {
	content: "";
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 1.6px solid #FA0E8F;
	box-shadow: 0px 0px 26.66666603088379px 0px #FA0E8FB2;
	background: transparent;
	vertical-align: sub;
}
input[type="checkbox"]:checked + label::before {
	background-image: url(../images/check_white.webp);
	background-repeat: no-repeat;
	background-position-y: 5px;
	background-position-x: 1px;
	background-size: 90%;
}