@media only screen and (max-width: 1200px){
    .map-area{
        height: 650px;
        width: 920px;
    }
    }
    @media only screen and (max-width: 900px){
        .map-area{
            height: 600px;
            width: 700px;
        }
        .row_7::after {
            content: "";
            margin-left: 45px;
            max-width: 610px;
        }
        }
        @media only screen and (max-width: 840px){
            .map-area{
                height: 600px;
                width: 650px;
             
            }
            }
            @media only screen and (max-width: 800px){
                .map-area{
                    height: 560px;
                    width: 650px;
                 
                }
                }
                @media only screen and (max-width: 730px){
                    .map-area{
                        height: 550px;
                        width: 700px;
                    }  
                    }
                @media only screen and (max-width: 767px){
                    .map-area{
                        height: 500px;
                        width: 520px;
                    }
                    .row_txt_div{
                        font-size: 12px;
                    }
                    .row_txt_div2{
                        font-size: 12px;
                    }
                    .row_txt_div5{
                        font-size: 12px;
                    }
                    .row_txt_div4{
                        font-size: 12px;
                    }
                    .row_7::after {
                        content: "";
                        margin-left: 45px;
                        max-width: 440px;
                    }
}
@media only screen and (max-width: 580px){
    .row_txt_div{
        font-size: 10px;
    }
    .row_txt_div2{
        font-size: 10px;
    }
    .row_txt_div5{
        font-size: 10px;
    }
    .row_txt_div4{
        font-size: 10px;
    }
    .row_7{
        margin-left: 20px;
    }
    .row_txt{
        margin-left: 20px;
    }
}
@media only screen and (max-width: 570px){

    .row_7_div1{
        width: 30px;
        height: 30px;
    }
}

                    @media only screen and (max-width: 650px){
                        .map-area{
                            height: 490px;
                            width: 530px;
                         
                        }
                    }
                        @media only screen and (max-width: 600px){
                            .map-area{
                                height: 470px;
                                width: 515px;
                             
                            }
                        }
                            @media only screen and (max-width: 530px){
                                .map-area{
                                    height: 430px;
                                    width: 500px;
                                 
                                }
                                .row_7::after {
                                    content: "";
                                    margin-left: 40px;
                                    max-width: 400px;
                                }
                            }
@media only screen and (max-width: 430px){
    .map-area{
        height: 400px;
        width: 430px;

    }
    .row_7::after {
        content: "";
        margin-left: 40px;
        max-width: 340px;
    }
}
@media only screen and (max-width: 420px){

    .row_7::after {
        content: "";
        margin-left: 36px;
        max-width: 340px;
    }
}
@media only screen and (max-width: 400px){

    .row_7::after {
        content: "";
        margin-left: 46px;
        max-width: 300px;
    }
}
@media only screen and (max-width: 360px){

    .row_7::after {
        content: "";
        margin-left: 37px;
        max-width: 250px;
    }
}
                                @media only screen and (max-width: 320px){
                                    .map-area{
                                        height: 300px;
                                        width: 300px;
                                     
                                    }
                                    .btn_logist{
                                        width: 250px;
                                        height: 58px;
                                        font-size: 21px;
                                    }
                                    .textare-trans {
                                        font-size: 11px;
                                        border: 2px solid #11C5FF;
                                    }
                                    .row_txt{
                                        font-size:10px
                                    }
                                    .text-pinck {
                                        font-size: 16px;
                                    }
                                    .img-org {
                                        width: 85px;
                                        height: 85px;
                                    }
                                    .img-org img{
                                        height: 50px;
                                        width: 50px;
                                    }
                                    .texter {
                                        font-size: 10px;
                                    }
                                    .texter1  {
                                        font-size: 10px;
                                    }
                                    .row_7::after {
                                        content: "";
                                        margin-left: 11px;
                                        max-width: 281px;
                                    }
                                    .row_txt_div{
                                        font-size: 5px;
                                    }
                                    .row_txt_div2{
                                        font-size: 5px;
                                    }
                                    .row_txt_div5{
                                        font-size: 5px;
                                    }
                                    .row_txt_div4{
                                        font-size: 5px;
                                    }
                                    .icon_close {
                                        font-size: 15px;
                                        margin-left: 180px;
                                    }
                                    .fas{
                                        font-size: 20px;
                                    }

                                    }